.mainPageTitleWrapper{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.mainPageTitleWrapper h1{
    font-size: 4.2rem;
    margin: 4rem 0 0 0;
    background-image: linear-gradient(to right, white 52%, indigo 48%);
    -webkit-background-clip: text;
    color: transparent;
}
.mainPageTitleWrapper h2{
    font-size: 1.8rem;
    color: white;
    font-weight: 350;
    margin: 0 0 1.5rem 0;
}
.mainPageTitleWrapper button{
    background-color: blue;
    font-size: 1.5rem;
    font-weight: 350;
    padding: 1rem;
    border: solid 0.15rem white;
    border-radius: 0.3rem;  
}
.mainPageTitleWrapper h6{
    color: white
}

.mainPageButton a{
    color: white;
    text-decoration: none;
}
