.footerWrapper{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;  
    background: rgb(7, 49, 70); 
    align-items: center; 
     
}

.footerButtons button{
    font-size: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    background-color: rgb(7, 49, 70); 
    color: white;
    padding: 1rem;
}
.footerButtons {
    padding: 1.3rem;
}
.imgLogo{
    height: 1.8rem;
    width: 1.8rem;
}